.incidentList {
  left: 0px;
  bottom: 0px;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
p {
  color: black;
  background-color: lightgray;
  font-size: large;
}

/* .individualIncident {
  background-color: white;
} */

.card {
  margin: 0.5rem;
}
.card-body {
  color: lightgray;
  background-color: lightgray;
}
h1 {
  color: lightgrey;
}
h4,
h5 {
  background-color: lightgrey;
}
