.incidentList {
  left: 0px;
  bottom: 0px;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.header {
  color: black;
  background-color: lightgray;
  font-size: large;
}
.indTrans {
  color: black;
  background-color: lightgray;
  font-size: large;
}
p {
  color: black;
  background-color: lightgray;
  font-size: large;
}

.card {
  margin: 0.5rem;
}
.details {
  color: lightgray;
  background-color: lightgray;
  height: 30.5rem;
  overflow: scroll;
}
.card-body {
  color: lightgray;
  background-color: lightgray;
}
h1 {
  color: lightgrey;
}
h4,
h5 {
  background-color: lightgrey;
}

.toast {
  background-color: white;

  position: absolute;
  top: 20rem;
  right: 4rem;
  width: 15rem;
}
.toast-body {
  background-color: white;
}
.toastButtonContainer {
  background-color: white;
}
.buttonContainer {
  background-color: white;
  margin: 0.5rem;
}
.cancel {
  margin-right: 1rem;
}
.save {
  margin-left: 1rem;
}
#address {
  text-align: center;
}
.buttons {
  background-color: black;
  display: inline-flex;
}
.button {
  margin: 0.5rem;
}
input {
  background-color: lightgray;
  width: 14rem;
}

img {
  margin-top: 1rem;
}
.search {
  text-align: center;
  margin: 0.5rem;
}
.modal-title {
  color: white;
  background-color: black;
}
