.loginForm {
  width: 100%;
  justify-self: center;
  padding: 1rem;
  margin: 1rem;
  height: 15rem;
  margin-top: 8rem;
}
.loginButton {
  width: 10rem;
  height: 4rem;
}
.login {
  background-color: #6c757d;
}

Label {
  color: white;
}

* {
  background-color: black;
  max-width: 500px;
}
.register {
  color: white;
  background-color: black;
}
.header {
  color: white;
}
h4 {
  background-color: black;
}
.registerLink {
  background-color: black;
}
