.registerForm {
  width: 100%;
  justify-self: center;
  padding: 1rem;
  margin: 1rem;
  height: 15rem;
  margin-top: 4rem;
}
.registerButton {
  width: 10rem;
  height: 4rem;
}

Label {
  color: white;
}
